.title {
    background-color: black;
    padding: 5px 1em 0 2em;
    font-family: 'Courgette', cursive;    
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 150%;
}

.skills {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
    
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Change the margins of the page */
body {
    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: 100px;
    margin-left: 80px;
    background-color: rgb(54, 48, 48);
}

a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(205, 208, 25);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: green;
    text-decoration: none;
}

.info {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background-color: black;
    color: rgb(47, 188, 227);
    padding: 5px 1em 0 2em;
}

/*

font-family: 'Courgette',
cursive;
font-family: 'Sofia Sans Extra Condensed',
sans-serif;
font-family: 'Titillium Web', sans-serif;

*/

.button:link, .button:visited, .button:hover{
    background-color: #f44336;
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #6f332f;
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

hr {
    border-top: 1px dashed red;
}

.hr {
    border: 10px solid rgb(16, 106, 166);
    border-radius: 5px;
}

.abs1 {
    position: absolute;
    top: 400px;
    width: 40%;
}

.abs2 {
    position: absolute;
    top: 400px;
    right: 80px;
}

.border {
    border: 5px solid gray;
}

.row {
    float: left;
    width: 50%;
    background-color: black;
}

.Languages {
    float: right;
    width: 50%;
    background-color: black;
}

.skills:after, .secondrow:after, thirdrow::after {
    content: "";
    display: table;
    clear: both;
}

.html {
    background: white;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.rightimage {
    float: right;
    width: 40%;
    margin-left: auto;
    margin-right: auto;    
}

.thirdcol {
    float: left;
    width: 50%;
    background-color: black;
}

.hr2 {
    border: 10px solid green;
    border-radius: 5px;
}

.bottomsection {
    background-color: rgb(50, 40, 40);
}

.contact {
    color:rgb(47, 188, 227);
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: rgb(50, 40, 40);
    justify-content: center;
    /* 5px rounded corners */
    margin: auto;
        width: 30%;
        border: 3px solid rgb(30, 163, 200);
        padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
 
}


input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=textarea] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
.buttoncontact {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.buttoncontact:hover {
    background-color: #74a476;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.fontcontact {
    font-family: 'Courgette', cursive;

}